@import "settings.scss";
@import "../vendors/foundation/scss/foundation.scss";


body {

	.loader {
		opacity: 0;
	}
	.Navigation, .footer {
		opacity: 1;
		transition-duration: 1s;
		transition-property: opacity;
	}
	&.loading {
		.Navigation, .footer {
			opacity: 0;
		}
		.loader {
			opacity: 1;
		}
	}
}

.Navigation {
	margin-top: 20px;
	.color {
		display: inline-block;
		width  : 50px;
		height : 50px;
		background-size : cover;
		background-position: center;
	}
}

.footer {
	text-align: right;
}
#myModal {
	.images {
		text-align: right;
		.image {
			display: inline-block;
			width  : 100px;
			height : 100px;
			background-size : cover;
			background-position: center;
		}
	}
}