@import "settings.scss";
@import "../vendors/foundation/scss/foundation.scss";


body {

	.loader {
		opacity: 0;
	}
	&.loading {
		.Navigation, .footer {
			opacity: 0;
			display: none;
		}
		.loader {
			opacity: 1;
		}
	}
	&.loaded {
		.Navigation, .footer {
			-webkit-animation-duration: 2s;
			-webkit-animation-name: fadeInFromNone;
		}
	}
}

.Navigation {
	margin-top: 20px;
	.all {
		background-color: black;
	}
	.colors {
		.color {
			cursor: pointer;
			&.selected {
				// border: 2px solid red;
				outline: 2px solid rgb(44,44,44);
			}
		}
	}
	.color {
		display: inline-block;
		width  : 50px;
		height : 50px;
	}
}

#myModal {
	.images {
		.image {
			display: inline-block;
			width  : 100px;
			height : 100px;
			background-size : cover;
			background-position: center;
		}
	}
}

@-webkit-keyframes fadeInFromNone {
	0% {
		display:none; 
		opacity: 0;
	}
	1% {
		display: block ; 
		opacity: 0;
	}
	100% {
		display: block ; 
		opacity: 1;
	}
}
