| {% extends 'base.html' %}
| {% block content %}

.row
	h1 PILLEN

	| Le référentiel colorimétrique des petites pilules


.Navigation.row.widget(data-widget="Navigation")

	.row
		.colors.columns.large-9
			.color.all(data-bind="click: filterPillen.bind($data, undefined)")
			// ko foreach: colors
			.color(data-bind="style: {'backgroundColor': $data}, click: $parent.filterPillen")
			// /ko
		.search-logo.columns.large-3
			input(type="text", placeholder="logo: android, mc donalds ...", data-bind="value: searchKeywords, valueUpdate: 'input'")
	.pillen(data-bind="foreach: filteredPillen")
		.color.has-tip(data-bind="attr: {title: Name}, style: {'backgroundImage': 'url(static/pillen/'+images[0]+')'}, click: $parent.showInfos")
		//- .color(data-bind="style: {'background-color': color}")

	.reveal-modal(data-bind="with: selectedPil", id="myModal", class="reveal-modal", data-reveal)
		h1(data-bind="text: Name")
		.row
			.medium-8.columns
				table
					tbody
						tr
							td Inhalt
							td(data-bind="text: Inhalt")
						tr
							td Bruchrille
							td(data-bind="text: Bruchrille")
						tr
							td Datum
							td(data-bind="text: Datum")
						tr
							td Dicke
							td(data-bind="text: Dicke")
						tr
							td Durchmesser
							td(data-bind="text: Durchmesser")
						tr
							td Ort
							td(data-bind="html: Ort")
			.medium-4.columns
				.images(data-bind="foreach: images")
					.image(data-bind="style: {'backgroundImage': 'url(static/pillen/'+$data+')'}")
		a.close-reveal-modal &#215;

.footer.row
	.large-12.columns Source: 
		a(href="http://www.mindzone.info/aktuelles/pillenwarnungen") www.mindzone.info/aktuelles/pillenwarnungen/
| {% endblock %}

