| {% extends 'base.html' %}
| {% block content %}

.row.widget(data-widget="Navigation")
	h2 FARBEN
	div(data-bind="foreach: colors")
		.color(data-bind="style: {'background-color': $data}, click: $parent.filterPillen")
	h2 PILLEN
	.pillen(data-bind="foreach: filteredPillen")
		.color(data-bind="style: {'background-image': 'url(static/pillen/'+images[0]+')'}")
		//- .color(data-bind="style: {'background-color': color}")

| {% endblock %}
