{% extends 'base.html' %}
{% block content %}
<div class="row">
	<h1>PILLEN</h1>
	{% trans %}The colorimetric repository of little pills{% endtrans %}
</div>

{% include "navigation.html" %}

<div class="footer row">
	<div class=" large-6 columns">
		<img src="static/github.png" width="20" />
		<a href="https://github.com/vied12/pillen"  target="_blank">{% trans %}Give us feedback and grab the code{% endtrans %}</a>
	</div>
	<div class="large-6 columns large-text-right">
		{% trans %}Source{% endtrans %}:
		<a href="http://www.mindzone.info/aktuelles/pillenwarnungen">www.mindzone.info/aktuelles/pillenwarnungen/</a>
	</div>
</div>

{% endblock %}
