{% extends 'base.html' %}
{% block content %}
<div class="row">
	<h1>PILLEN</h1>
	{% trans %}The colorimetric repository of little pills{% endtrans %}
</div>

{% include "navigation.html" %}

<div class="footer row">
	<div class=" large-6 columns">
		{% trans %}Credits:
		Developped by <a href="https://twitter.com/vied12" target="_blank">Édouard</a>
		from a brillant idea of <a href="https://twitter.com/annelisebouyer" target="_blank">Anne-Lise</a><br/>
		and the usefull advice of <a href="https://twitter.com/sm_kraus" target="_blank">Sebastian</a> and <a href="https://twitter.com/olivier_chardin" target="_blank">Olivier</a>.
		{% endtrans %}
	</div>
	<div class="large-6 columns large-text-right">
		{% trans %}Source{% endtrans %}:
		<a href="http://www.mindzone.info/aktuelles/pillenwarnungen">www.mindzone.info/aktuelles/pillenwarnungen/</a>
		<br/>
		<img src="static/github.png" width="20" />
		<a href="https://github.com/vied12/pillen"  target="_blank">{% trans %}Give us feedback and grab the code{% endtrans %}</a>
	</div>
</div>

{% endblock %}
