| {% assets "js_all" %}
script(type='text/javascript', src='{{ ASSET_URL  | relative_url }}')
| {% endassets %}
| {% block extra_js %}{% endblock %}
script.
	serious.Widget.bindAll();
	$.preload(["static/sprite/sprites.png"], function() {$("body").removeClass("loading")});
