
<div data-widget="Navigation" class="Navigation row widget">
  <div class="row">
    <div class="colors columns large-9">
      <div data-bind="click: filterPillen.bind($data, undefined)" id="firstStop" class="color all"></div>
      <!-- ko foreach: colors-->
      <div data-bind="style: {'backgroundColor': $data}, click: $root.filterPillen, attr: {id: 'color_'+ $index()}, css : {'selected': $root.colorFiltered() == $data}" class="color"></div>
      <!-- /ko-->
    </div>
    <div class="search-logo columns large-3">
      <input id="secondStop" type="text" placeholder="logo: android, mc donalds ..." data-bind="value: searchKeywords, valueUpdate: 'input'">
    </div>
  </div>
  <div data-bind="foreach: filteredPillen" class="pillen">
    <div data-bind="attr: {title: name, id: 'pill_'+ $index()}, css: 'sprite-pillen-'+classe, click: $root.showInfos" class="color has-tip"></div>
  </div>
  <div data-bind="with: selectedPil" id="myModal" data-reveal class="reveal-modal reveal-modal">
    <h1 data-bind="text: name"></h1>
    <div class="row">
      <div class="medium-8 columns">
        <table>
          <tbody>
            <tr>
              <td>{% trans %}Composition{% endtrans %}</td>
              <td data-bind="text: inhalt"></td>
            </tr>
            <tr>
              <td>{% trans %}Breakline{% endtrans %}</td>
              <td data-bind="text: bruchrille"></td>
            </tr>
            <tr>
              <td>{% trans %}Date{% endtrans %}</td>
              <td data-bind="text: datum"></td>
            </tr>
            <tr>
              <td>{% trans %}Thickness{% endtrans %}</td>
              <td data-bind="text: dicke"></td>
            </tr>
            <tr>
              <td>{% trans %}Diameter{% endtrans %}</td>
              <td data-bind="text: durchmesser"></td>
            </tr>
            <tr>
              <td>{% trans %}Place{% endtrans %}</td>
              <td data-bind="html: ort"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="medium-4 columns">
        <div data-bind="foreach: images" class="images">
          <div data-bind="style: {'backgroundImage': 'url(static/pillen/'+$data+')'}" class="image"></div>
        </div>
      </div>
    </div><a class="close-reveal-modal">&#215;</a>
  </div>
</div>

<ol data-joyride class="joyride-list">
  <li data-id="color_3" data-text="Next" data-options="tip_location: bottom; prev_button: false">
    {% trans %}
    <p>Hello ! This is a tree steps tour.</p>
    <p>To filter pills, you can select a color.</p>
    <p>Black is special. Black means all.</p>
    {% endtrans %}
  </li>
  <li data-id="secondStop" data-text="Next" data-options="tip_location: bottom; prev_button: false">
    {% trans %}
    <p>You can also search by symbol name.</p>
    <p>But keep in mind the selected color is still filtering !</p>
    {% endtrans %}
  </li>
  <li data-id="pill_20" data-text="Next" data-options="tip_location: top; prev_button: false">
    {% trans %}
    <p>Wanna more ? Click on a pill.</p>
    <p>Now you now everything. Have a nice party.</p>
    {% endtrans %}
  </li>
</ol>